# Nested package.json's are only needed for development.
browser/package.json
array/package.json
date-time/package.json
config/package.json
decorator/package.json
form/package.json
format/package.json
math/package.json
other/package.json
pipes/package.json
token/package.json
pipes/currency/package.json
pipes/filter/package.json
pipes/format/package.json