# Nested package.json's are only needed for development.
bar/package.json
card/package.json
chart-echarts/package.json
core/package.json
custom/package.json
gauge/package.json
mini-bar/package.json
mini-progress/package.json
mini-area/package.json
pie/package.json
number-info/package.json
radar/package.json
tag-cloud/package.json
single-bar/package.json
timeline/package.json
water-wave/package.json
trend/package.json